body{
    background: #051D3B;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    font-family: Inter;
}

body::-webkit-scrollbar {
    display: none;
}

main{
    height: calc(100vh - 4.5rem);
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}


main::-webkit-scrollbar {
    display: none;
}

#hidden {
    display: none;
}