.cabecalio{
    background: #051D3B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
}

.cabecalio-logo{
    height: 3rem;
}

.cabecalio-serchbar{
    background: #2D415A;
    border-radius: 5px;
    border: none;
    color: white;
    height: 3rem;
    padding-left: 1rem;
    width: 50vw;
}

.cabecalio-serchbar::placeholder { 
    color: white;
    opacity: 1;
  }

.cabecalio-profilepic{
    height: 3rem;
}